@import url("/css/reset.css");
/* 라인 */
@font-face { font-family: 'LINESeedKR-Bd'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2'); font-weight: 700; font-style: normal; }
/* 티머니 */
@font-face { font-family: 'TmoneyRoundWindExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }
*{font-family:'TmoneyRoundWindExtraBold';-webkit-text-size-adjust: auto;}
.wrap{
    margin: 0 auto; width: 100%; height: 90vmax;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.main{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column; align-items: center;
}
.logo{
    background-image: url(/img/logo.png);
    background-repeat: no-repeat; background-size: contain;
    width: 30%; padding-bottom: 30%;
    margin-top: 0%;
}
/* 스크롤제거 */
body{
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.find_info_txt{
    text-align: center; color: #fff;
    margin: 2% auto;
}
.find_info_txt h3{font-size: 3vw; margin-bottom: 2%;}
.find_info_txt p{font-size: 1.3vw;}

/* 입력창 */
.noFind_Id{width: 25%;display: flex;flex-direction: column;align-items: center;}
.findId input{
    border-radius: 20px; border: 0;
    padding: 5%; margin: 1% 0; width: 90%;
    font-size: 1.3vw; font-family: 'TmoneyRoundWindExtraBold';
    background-color: rgba(255, 255, 255, 0.8);
}
#nickName{
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    border-radius: 20px; border: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #ffa600;
}
#phoneNumber{
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    border-radius: 20px; border: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #ffa600;
}
/* 서브 버튼 */
.loginSub{width: 100%; margin: 4% 0; text-align: center;}
.loginSub a{
    font-size: 1.3vw;
    color: #fff;
}
.loginSub a::after{
    content: "|";
    margin: 0 2%;
}
.loginSub a:last-child::after{display: none;}
/* submit */
#open_modal{
    margin: 2% 0;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    border-radius: 20px; border: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #ffa600;
    border-radius: 20px;
    padding: 5%; margin: 1% 0; width: 100%;
    font-size: 2vw; font-family: 'TmoneyRoundWindExtraBold';
    transition: 0.5s, color 0.5s ease-in-out;
}
#open_modal:hover{
    background-color: #ffa600;
    color: rgba(255, 255, 255, 0.8);
}

/* 모달 창 관련 css */
#modal {
    position: fixed;left: 0;top: 0;
    width: 100%; height: 100%;
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal_box {
    position: absolute;left: 25%;top: 25%;
    width: 50%; height: 20%;
    margin: 1% auto;
    padding: 5% 0; text-align: center;
    background-color: #fff;
    color: #000; font-size:2.5vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* 모달버튼 */
.find_Id_Btn{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
.find_Id_Btn button{
    margin: 2% 0;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    border-radius: 20px; border: 0;
    /* background-color: rgba(255, 255, 255, 0.8);
    color: #ffa600; */
    background-color: #ffa600;
    color: #fff;
    border-radius: 20px;
    padding: 5%; margin: 1% 2%; width: 35%;
    font-size: 2vw; font-family: 'TmoneyRoundWindExtraBold';
}
.find_Id_Btn button a{color: #fff; font-size: 2vw;}