<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property='og:title', content= '일상에 캠프를 얹다(Camput)'/>
    <meta property='og:description', content= '일상에 캠프를 얹다(Camput)'/>
    <meta property='og:type', content= 'website'/>
    <meta property='og:url', content= '공유될 URL'/>
    <meta property='og:image', content= '썸네일 이미지'/>
    <title>Document</title>
    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/946fabfe17.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="../css/footer.css">
    <!--스크립트 -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/footer.js"></script>
    <!-- twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Camput" />
    <meta name="twitter:title" content="일상에 캠프를 얹다(Camput)" />
    <meta name="twitter:description" content="일상에 캠프를 얹다(Camput)." />
    <meta property="twitter:image" content="http://richclub8.dothome.co.kr/assets/ico/icon.png" />
    <!-- Facebook meta tags -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="일상에 캠프를 얹다(Camput)" />
    <meta property="og:url" content="http://richclub8.dothome.co.kr/responsive/html5/index.html" />
    <meta property="og:image" content="http://richclub8.dothome.co.kr/assets/ico/icon.png" />
    <meta property="og:site_name" content="일상에 캠프를 얹다(Camput)" />
    <meta property="og:description" content="일상에 캠프를 얹다(Camput)" />
</head>
<body>
    <footer class="footer">
        <div class="innercon">
            <div class="foot_top">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-github"></i><span></span></a></li>
                    <li><a href="#" class="facebook"><i class="fa-brands fa-square-facebook"></i><span></span></a></li>
                    <li><a href="#" class="twitter"><i class="fa-brands fa-twitter"></i><span></span></a></li> 
                </ul>
            </div>
            <div class="foot_bottom">
                <ul>
                    <li><a href="#">사이트 도움말</a></li>
                    <li><a href="#">사이트 이용약관</a></li>
                    <li><a href="#">사이트 운영원칙</a></li>
                    <li><a href="#"><strong>개인정보취급방침</strong></a></li>
                    <li><a href="#">책임의 한계와 법적고지</a></li>
                    <li><a href="#">게시중단요청서비스</a></li>
                </ul>
                <address>
                    Copyright ©
                    <a href="http://Camput.co.kr"><strong>Camput</strong></a>
                    All Rights Reserved.
                </address>
            </div>
        </div>
    </footer>
</body>
</html>