<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script th:inline="javascript" src="/js/myPageMemberUpdate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <title>회원정보 수정</title>
    <link rel="stylesheet" href="/css/myPageMemberUpdate.css">
</head>
<body>
<!-- 아이콘 -->
<script src="https://kit.fontawesome.com/946fabfe17.js" crossorigin="anonymous"></script>
<script>
      new daum.Postcode({
        oncomplete: function (data) {
          <!--            팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.-->
          <!--            예제를 참고하여 다양한 활용법을 확인해 보세요.-->
        },
      }).open();

      // 시작과 동시에 펑션 작동 "/member/view"
      $(document).ready(function() {
        $.ajax({
        type: "post",
        url: "/member/view",
        data: {
            memberLoginId: '${loginMember}'
        },
        success: function (response) {
            //console.log('success', response)
            $('#memberEmail').val(response.memberEmail);
            $('#birthday').val(response.birthday);
            $('#memberName').val(response.memberName);
            $('#gender').val(response.gender);
            $('#sample4_roadAddress').val(response.streetAddress);
            $('#sample4_jibunAddress').val(response.mainAddress);
            $('#sample4_postcode').val(response.memberPostNum);
            $('#sample4_detailAddress').val(response.detailAddress);
            $('#sample4_extraAddress').val(response.extraAddress);
            $('#memberLoginId').val(response.memberLoginId);
            $('#phoneNumber').val(response.phoneNumber);
            $('#memberPasswordHidden').val(response.memberPassword);
            $('#nickName').val(response.nickName);
            $('#memberPoint').val(response.memberPoint);
            $('#id').val(response.id);
        },
        error: function (error) {
        }
        })
      });
</script>
    <div class="wrap">

        <div class="updateMember">
            <div class="miniHeader">
                <div class="memberImage"><i class="fa-solid fa-user"></i></div>
                <div class="memberNickName" th:text="${nickName}">닉네임</div>
            </div>
            <div class="incon">
                <div class="aside">
                    <p>
                        <span class="memberInfo to-right-underline"><a href="./information">회원정보</a></span>
                        <span class="memberRservationInfo to-right-underline"><a href="./bookInfo">예약정보</a></span>
                        <span class="wishList to-right-underline"><a href="./like">위시리스트</a></span>
                    </p>
                </div>
                <div class="section">
                    <form action="/member/update" method="post" name="memberUpdate">
                        <input type="hidden" id="loginMember" name="loginMember" th:value="${loginMember}">
                        <!-- 비밀번호 수정 -->
                        <div class="join_row pw_area">
                                <!-- 값이 없는 항목들 넘겨주기위해 만든 히든버튼 -->
                                <input type="hidden" id="memberLoginId" name="memberLoginId">
                                <input type="hidden" id="memberPasswordHidden" name="memberPasswordHidden">
                                <input type="hidden" id="memberPoint" name="memberPoint">
                                <input type="hidden" id="id" name="id">
                                <h3 class="join_title"><label for="memberPassword">비밀번호 변경</label></h3>
                                <span class="ps_box int_pass">
                                    <input type="password" id="memberPassword" name="memberPassword" class="int" maxlength="20" placeholder="영문, 숫자, 특수문자 최소 하나씩 8 ~ 16자"/>
                                    <span class="lbl"><span id="error_txt_pwd" class="step_txt"></span></span>
                                </span>
                                <!-- 비밀번호 확인 -->
                                <h3 class="join_title"><label for="memberPassword2">비밀번호 확인</label></h3>
                                <span class="ps_box int_pass_check">
                                    <input type="password" id="memberPassword2" name="memberPassword2" class="int" maxlength="20" placeholder="위와 같은 비밀번호를 입력" />
                                </span>
                                <span class="error_next_box" id="error_txt_pwd2"></span>
                        </div>
                        <!-- 이름 수정 -->
                        <div class="join_row name_area">
                                <h3 class="join_title"><label for="memberName">이름 변경</label></h3>
                                <span class="ps_box int_name">
                                    <input type="text" id="memberName" name="memberName" class="int" maxlength="40" placeholder="한글 2글자 ~ 10글자" />
                                </span>
                                <span class="error_next_box" id="error_txt_name"></span>
                        </div>
                        <!-- 닉네임 수정 -->
                        <div class="join_row nivkName_area">
                                <h3 class="join_title"><label for="nickName">닉네임 변경</label></h3>
                                <span class="ps_box int_nickName">
                                    <input type="text" id="nickName" name="nickName" class="int" maxlength="40" placeholder="한글, 영어, 숫자 2글자 ~ 10글자" />
                                </span>
                                <span class="error_next_box" id="error_txt_nickName"></span>
                        </div>
                        <!-- 이메일 수정-->
                        <div class="join_row email_area">
                                <h3 class="join_title"><label for="memberEmail">이메일 변경</label></h3>
                                <span class="ps_box int_nickName">
                                    <input type="text" id="memberEmail" name="memberEmail" class="int" maxlength="40" placeholder="이메일 형식으로 작성" />
                                </span>
                                <span class="error_next_box" id="error_txt_memberEmail"></span>
                        </div>
                        <!-- 전화번호 수정 -->
                        <div class="join_row pnone_area">
                                <h3 class="join_title"><label for="phoneNumber">전화번호 변경</label></h3>
                                <span class="ps_box int_phone">
                                    <input type="text" id="phoneNumber" name="phoneNumber" class="int" maxlength="11" placeholder="핸드폰 양식 번호 입력" />
                                </span>
                                <span class="error_next_box" id="error_txt_phone"></span>
                        </div>
                        <!-- 주소 수정 -->
                        <div class="join_row addr_area">
                            <h3 class="join_title"><label for="sample4_postcode">주소 변경</label></h3>
                            <input type="text" id="sample4_postcode" class="int" name="memberPostNum" placeholder="우편번호" readonly />
                            <input type="button" onclick="sample4_execDaumPostcode()" id="addrBtn" value="우편번호 찾기" /><br />
                            <input type="text" id="sample4_roadAddress" class="int" name="streetAddress" placeholder="도로명주소" readonly />
                            <input type="text" id="sample4_jibunAddress" class="int" name="mainAddress" placeholder="지번주소" readonly />
                            <span id="guide" style="color: #999; display: none"></span>
                            <input type="text" id="sample4_extraAddress" name="extraAddress" class="int" placeholder="동" readonly />
                            <input type="text" id="sample4_detailAddress" name="detailAddress" class="int" placeholder="상세주소" />
                            <span class="error_next_box" id="error_txt_address"></span>
                        </div>
                        <!-- 성별 수정 -->
                        <div class="join_row gender_area">
                            <h3 class="join_title"><label for="gender">성별 변경</label></h3>
                            <div class="ps_box int_gender">
                                <select id="gender" name="gender" class="sel int" aria-label="성별">
                                    <option value="" selected="">성별</option>
                                    <option value="남">남자</option>
                                    <option value="여">여자</option>
                                </select>
                                <span class="error_next_box" id="error_txt_gender"></span>
                            </div>
                        </div>
                        <!-- 생년월일 수정 -->
                        <div class="join_row bDay_area">
                                <h3 class="join_title"><label for="birthday">생년월일 변경</label></h3>
                                <span class="ps_box int_birthday">
                                    <input type="text" id="birthday" name="birthday" class="int" maxlength="8" placeholder="생년월일 8자리 입력" />
                                </span>
                                <span class="error_next_box" id="error_txt_birthday"></span>
                        </div>
                        <!-- 수정 버튼 -->
                        <div class="join_btn btn_area">
                            <!--<input type="submit" value="회원가입" id="submitButton">-->
                            <button type="submit" class="submitButton" onclick="submitButton1(); return false">회원정보 변경</button>
                        </div>
                        <!-- 카카오 주소 API -->
                        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                        <script>
                        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
                        function sample4_execDaumPostcode() {
                            new daum.Postcode({
                            oncomplete: function (data) {
                                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                var roadAddr = data.roadAddress; // 도로명 주소 변수
                                var extraRoadAddr = ""; // 참고 항목 변수

                                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                if (data.bname !== "" && /[동|로|가]$/g.test(data.bname)) {
                                extraRoadAddr += data.bname;
                                }
                                // 건물명이 있고, 공동주택일 경우 추가한다.
                                if (data.buildingName !== "" && data.apartment === "Y") {
                                extraRoadAddr += extraRoadAddr !== "" ? ", " + data.buildingName : data.buildingName;
                                }
                                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                if (extraRoadAddr !== "") {
                                extraRoadAddr = " (" + extraRoadAddr + ")";
                                }

                                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                document.getElementById("sample4_postcode").value = data.zonecode;
                                document.getElementById("sample4_roadAddress").value = roadAddr;
                                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                                if (roadAddr !== "") {
                                document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                                } else {
                                document.getElementById("sample4_extraAddress").value = "";
                                }

                                var guideTextBox = document.getElementById("guide");
                                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                                if (data.autoRoadAddress) {
                                var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                                guideTextBox.innerHTML = "(예상 도로명 주소 : " + expRoadAddr + ")";
                                guideTextBox.style.display = "block";
                                } else if (data.autoJibunAddress) {
                                var expJibunAddr = data.autoJibunAddress;
                                guideTextBox.innerHTML = "(예상 지번 주소 : " + expJibunAddr + ")";
                                guideTextBox.style.display = "block";
                                } else {
                                guideTextBox.innerHTML = "";
                                guideTextBox.style.display = "none";
                                }
                            },
                            }).open();
                        }
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- wrap -->
</body>
</html>
